<%= render "shared/navbar" %>
<div class="text-center heading">
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <%# <h3 class="sticky-header text-center">Click</h3> %>
      <div class = "map">
         <h2> Choose an element</h2>
        <div class = "spacing">
          <% @elements.each do |e| %>
            <%= simple_form_for @quiz do |f| %>
              <%= f.input :element, input_html: { class: 'hide', value: "#{e}"}, label: false %>
              <%= image_submit_tag "#{e}.png", class: "element-icons #{e}-pic" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="pokemon-cards">
        <div class="search-bar">
          <%= form_with url: new_quiz_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Search a pokemon's name"
            %>
            <%= submit_tag "Search", class: "button btn-yellow" %>
          <% end %>
        </div>

<div class = "card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdna.artstation.com/p/assets/images/images/002/087/020/large/saleh-ahmed-grnislandmap-allb.jpg?1457038776);">
 <div class = "spacing">
  <% @elements.each do |e| %>
    <%= simple_form_for @quiz do |f| %>
      <%= f.input :element, input_html: { class: 'hide', value: "#{e}"}, label: false %>
      <%= image_submit_tag "#{e}.png", class: "element-icons #{e}-pic" %>
    <% end %>
  <% end %>
 </div>
</div>


<div class="search-bar">
    <%= form_with url: new_quiz_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search a pokemon's name"
      %>
      <%= submit_tag "Search", class: "button btn-yellow" %>
    <% end %>
  </div>
  <div class>
    <% @pokemons.each do |a| %>
      <div class="dex-row">
    <div class="dex-cards">
        <div class="dex-card <%=a.types.first %>">
          <div class="dex-card-img-container">
            <img src="<%= a.image_url %>" alt="<%= a.name %> image">
          </div>
          <div class="dex-card-info-container">
            <div class="dex-card-title">
              <h3><%= a.name.capitalize %></h3>
              <% a.types.each do |type| %>
                <div class="tag <%=type %>">
                  <%= type.capitalize %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
