<%= render "shared/navbar" %>
<div class="text-center heading">
  <h1>Choose Your Path!</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <%# <h3 class="sticky-header text-center">Click</h3> %>
      <div class = "card-category map sticky-map pokeball-image" >
        <div class = "spacing">
          <% @elements.each do |e| %>
            <%= simple_form_for @quiz do |f| %>
              <%= f.input :element, input_html: { class: 'hide', value: "#{e}"}, label: false %>
              <%= image_submit_tag "#{e}.png", class: "element-icons #{e}-pic" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="pokemon-cards">
        <div class="search-bar">
          <%= form_with url: new_quiz_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Search a pokemon's name"
            %>
            <%= submit_tag "Search", class: "button btn-yellow" %>
          <% end %>
        </div>

        <div class="dex-row scrolling-container">
          <div class="dex-cards">
            <% @pokemons.each do |pokemon| %>
              <div class="dex-card <%=pokemon.types.first %>">
                <div class="dex-card-img-container">
                  <img src="<%= pokemon.image_url %>" alt="<%= pokemon.name %> image">
                </div>
                <div class="dex-card-info-container">
                  <div class="dex-card-title">
                    <h3><%= pokemon.name.capitalize %></h3>
                    <div class="dex-card-types">
                    <% pokemon.types.each do |type| %>
                      <div class="tag <%=type %>">
                        <%= type.capitalize %>
                      </div>
                    <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
