<h1>Choose Your Path!</h1>
<div class="search-bar">
    <%= form_with url: new_quiz_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search a pokemon's name"
      %>
      <%= submit_tag "Search", class: "button btn-yellow" %>
    <% end %>
  </div>
    <% @pokemons.each do |a| %>
      <div class="dex-row">
    <div class="dex-cards">
        <div class="dex-card <%=a.types.first %>">
          <div class="dex-card-img-container">
            <img src="<%= a.image_url %>" alt="<%= a.name %> image">
          </div>
          <div class="dex-card-info-container">
            <div class="dex-card-title">
              <h3><%= a.name.capitalize %></h3>
              <% a.types.each do |type| %>
                <div class="tag <%=type %>">
                  <%= type.capitalize %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<div class = "card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdna.artstation.com/p/assets/images/images/002/087/020/large/saleh-ahmed-grnislandmap-allb.jpg?1457038776);">
 <div class = "spacing">
  <%= simple_form_for @quiz do |f| %>
   <%= f.input :element, input_html: { class: 'hide'}, label: false%>
   <%= image_submit_tag "first.png", class: 'first-pic'%>
  <% end %>

  <%= simple_form_for @quiz do |f| %>
   <%= f.input :element, input_html: { class: 'hide'}, label: false%>
   <%= image_submit_tag "second.png", class: 'second-pic'%>
  <% end %>

  <%= simple_form_for @quiz do |f| %>
   <%= f.input :element, input_html: { class: 'hide'}, label: false%>
   <%= image_submit_tag "third.png", class: 'third-pic'%>
  <% end %>

  <%= simple_form_for @quiz do |f| %>
   <%= f.input :element, input_html: { class: 'hide'}, label: false%>
   <%= image_submit_tag "forth.png", class: 'forth-pic'%>
  <% end %>
 </div>
</div>
