<%= render "shared/navbar" %>
<div class="container result-container">
  <h1>Results: <span><%= @quiz.total %></span>/10</h1>
  <h2 class="result-face">
    <% if @quiz.total >= 7 %> <i class="fa-solid fa-face-laugh-squint"></i>
    <% elsif @quiz.total >= 3 %> <i class="fa-solid fa-face-smile"></i>
    <% elsif @quiz.total >= 0 %> <i class="fa-solid fa-face-tired"></i>
    <% end %>
  </h2>

  <div class="points">
    <a href="/dashboard"><i class="fa-solid fa-house"></i></a>
    <p>+ <span><%= @quiz.score %></span> exp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TOTAL: <span><%= @user.point %></span> exp</p>
  </div>

  <div class="new-pokemon">
    <h2>You caught:</h2>
    <div class="dex-cards">
        <% @new_pokemons.each do |pokemon| %>
          <div class="dex-card <%=pokemon.types.first %>">
            <div class="dex-card-img-container">
              <img src="<%= pokemon.image_url %>" alt="<%= pokemon.name %> image">
            </div>
            <div class="dex-card-info-container">
              <div class="dex-card-title">
                <h3><%= pokemon.name.capitalize %></h3>
                <div class="dex-card-types">
                <% pokemon.types.each do |type| %>
                  <div class="tag <%=type %>">
                    <%= type.capitalize %>
                  </div>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>

<div class="container">
  <div class="heading text-center">
    <h2>Incorrect answers:</h2>
  </div>
  <% @wrong.each do |f|%>
  <ul>
    <li>
    <div class="question">
    Question: <p><%= f.question.problem %></p>
    </div>
    <div class="correct">
      <p><i class="fa-regular fa-circle-check"></i> <%= f.question.correct_answer %></p>
    </div>
    <div class="wrong">
      Your Answer: <p><i class="fa-regular fa-circle-xmark"></i> <%= f.user_answer %></p>
    </div>
      </li>
  </ul>
  <% end %>
</div>
