<%= render "shared/navbar" %>
<div class="text-center heading">
  <h1>Quiz time!</h1>
</div>

<div class="quiz-container">
  <p>Question number <%= @number%>/10</p>
  <%= simple_form_for @quiz_question do |f| %>
    <% randomize = [@answer, @incorrect, @incorrect_two, @incorrect_three].shuffle%>
    <%= f.input :user_answer, as: :radio_buttons, collection: [[randomize[0], randomize[0]], [randomize[1], randomize[1]], [randomize[2], randomize[2]], [randomize[3], randomize[3]]], :label => @problem %>
    <%= f.submit %>
  <% end %>
</div>
<div class="center-on-page">

  <div class="pokeball">
    <div class="pokeball__button"></div>
  </div>

</div>
<%= render "shared/pika_ash" %>
