<body>
  <div id="container">
    <%= render "shared/navbar" %>

    <div class="text-center heading">
      <div id="background2">
        <h1 class="quiz-show-title">Quiz time!</h1>
      </div>
    </div>

    <div class="background-container">
      <div class="quiz-container">
        <p class="quiz-number">Question number <%= @number %>/5</p>
        <%= simple_form_for @quiz_question do |f| %>
          <% randomize = [@answer, @incorrect, @incorrect_two, @incorrect_three].shuffle %>
          <div class="quiz-question">
            <%= f.label raw(@problem), class: "col-form-label pt-0 question-text" %>
            <div class="answer-options">
              <% randomize.each_with_index do |answer, index| %>
                <button class="answer-option nes-btn is-primary btn-blue answer-button" type="submit" name="quiz_question[user_answer]" value="<%= answer %>">
                  <%= raw(answer)%>
                </button>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="pokeball-container">
      <div class="center-on-page">
        <div class="pokeball">
          <div class="pokeball__button"></div>
        </div>
      </div>
    </div>
  </div>
</body>
