<div class="text-center heading">
  <h1>Quiz time!</h1>
</div>

<%= simple_form_for @quiz_question do |f| %>
  <%= f.input :user_answer, as: :check_boxes, collection: [@answer, @incorrect, @incorrect_two, @incorrect_three], :label => @problem %>
  <%= f.submit %>
<% end %>

<% possibilites = [@answer, @incorrect, @incorrect_two, @incorrect_three] %>
<% radomize = possibilites.shuffle %>

<div class="container mb-5">
  <div class="col-12">
    <p class="fw-bold mt-5"><%= @problem %></p>
    <div>
    <div class="row">
      <div class="col-md-6">
      <% radomize.each_with_index do |f, index| %>
        <input type="radio" name="box" id="<%= index %>">
        <label for="<%= index %>" class="box <%= index %> w-100">
          <div class="course">
            <span class="circle"></span>
            <span class="subject"><%= f %></span>
            </div>
        </label>
      <% end %>
      </div>
    </div>
    <div class="col-12"> <div class="d-flex justify-content-center"> <button class="btn btn-primary px-4 py-2 fw-bold"> Submit</button>
      <%# <%= button_to "Next", quiz_question_path(@quiz_question), @user_action, method: :patch %> %>
      <%# <%= button_to("next", quiz_question_path(@quiz_question), :method => :patch) %> %>
    </div>
    </div>
  </div>
</div>
