<div class="first-row d-flex justify-content-between align-items-center">
 <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "button btn-green nes-btn is-error"  %>
  <% if  @one.nil? %>
      <p>You do not own this Pokemon!</p>
    <% elsif @unique_pokemon.nil?%>
      <p class="first-row-text"> You have <%= @user_pokemons.length %> <%= @name.capitalize %></p>
    <% else %>
      <p class="first-row-text"> You have <%= @unique_pokemon.length %>/151 pokemon </p>
  <% end %>
  <%= image_tag "walking_ash_pikachu.gif", class: "walking-ash-pika" %>
  <p  class="first-row-text">Exp: <%= current_user.point %></p>
  <%= link_to "PLAY", new_quiz_path, class: "button btn-yellow nes-btn is-warning moving-left" %>
</div>
<div class="big-container dashboard-bkg">
  <div class="row w-100"  data-controller="big-card">
    <div class="col-12 col-md-7">
      <div class="big-card-left">
        <div class="search-bar mt-2">
          <%= form_with url: dashboard_path, method: :get, class: "d-flex justify-content-center nes-field is-inlinev dashboard-search-bar" do %>
            <%= text_field_tag :query,
                params[:query],
                class: "nes-input search-bar-map",
                placeholder: "Search a pokémon"
            %>
            <%= submit_tag "Search", class: "button btn-yellow nes-btn is-warning" %>
          <% end %>
        </div>
        <div class="dex-row">
          <div class="dex-cards dashboard-scrolling-container">
          <% if @unique_pokemon.present? %>
            <% @unique_pokemon.each do |user_pokemon| %>
              <%= link_to dashboard_show_path(user_pokemon.pokemon),data:{action:"click->big-card#showBigCard"} do %>
                <div class="dex-card <%=user_pokemon.pokemon.types.first %>">
                  <div class="dex-card-img-container">
                    <img src="<%= user_pokemon.pokemon.image_url %>" alt="<%= user_pokemon.pokemon.name %> image">
                  </div>
                  <div class="dex-card-info-container">
                    <div>
                      <h3  class="dex-card-title"><%= user_pokemon.pokemon.name.capitalize %></h3>
                      <div class="dex-card-types">
                      <% user_pokemon.pokemon.types.each do |type| %>
                        <div class="tag <%=type %>">
                          <%= type.capitalize %>
                        </div>
                      <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
            <% else @user_pokemons.each do |user_pokemon| %>
              <%= link_to dashboard_show_path(user_pokemon.pokemon),data:{action:"click->big-card#showBigCard"} do %>
                <div class="dex-card <%=user_pokemon.pokemon.types.first %>">
                  <div class="dex-card-img-container">
                    <img src="<%= user_pokemon.pokemon.image_url %>" alt="<%= user_pokemon.pokemon.name %> image">
                  </div>
                  <div class="dex-card-info-container">
                    <div>
                      <h3  class="dex-card-title"><%= user_pokemon.pokemon.name.capitalize %></h3>
                      <div class="dex-card-types">
                      <% user_pokemon.pokemon.types.each do |type| %>
                        <div class="tag <%=type %>">
                          <%= type.capitalize %>
                        </div>
                      <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5">
      <% if @user_pokemons.exists? %>
        <%= render "big_card", current_pokemon:@current_pokemon, pokemon:@pokemon, description:@description %>
      <% end %>
    </div>
  </div>
</div>
