<div class="container">
  <h1><%= @user.username %>'s dashboard</h1>
  <div class="dashboard-row d-flex justify-content-between align-items-center">
    <div class="badge-exp d-flex justify-content-between align-items-center">
      <ul>
        <li>badge</li>
        <li>badge</li>
        <li>badge</li>
      </ul>
      <div class="exp"><h3>exp: <%= @user.point %></h3></div>
      <%= link_to "PLAY", "#", class: "button btn-yellow" %>
    </div>
  </div>
  <div class="search-bar">
    <%= form_with url: dashboard_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search a pokemon"
      %>
      <%= submit_tag "Search", class: "button btn-yellow" %>
    <% end %>
  </div>


  <div class="dex-row">
    <div class="dex-cards">
       <% @pokemons.each do |pokemon| %>
        <div class="dex-card">
          <h3><%= pokemon.name %></h3>
          <div>
            <img src="<%= pokemon.image_url %>" alt="<%= pokemon.name %> image">
          </div>
          <% pokemon.types.each do |type| %>
            <div class="tag">
              <%= type.capitalize %>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
