<div class="big-container">
  <div class="container">
    <h1><%= current_user.username %>'s dashboard</h1>
    <div class="dashboard-row d-flex justify-content-between align-items-center">
      <div class="badge-exp d-flex justify-content-between align-items-center">
        <ul>
          <li>badge </li>
          <li>badge</li>
          <li>badge</li>
        </ul>
        <div class="exp"><h3>exp: <%= current_user.point %></h3></div>
        <%= link_to "PLAY", new_quiz_path, class: "button btn-yellow" %>
      </div>
      <h2><%= @user_pokemons.length %></h2>
    </div>
    <div class="search-bar">
      <%= form_with url: dashboard_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search a pokemon"
        %>
        <%= submit_tag "Search", class: "button btn-yellow" %>
      <% end %>
    </div>

    <div class="dex-row">
      <div class="dex-cards">
        <% @user_pokemons.each do |user_pokemon| %>
          <div class="dex-card <%=user_pokemon.pokemon.types.first %>">
            <div class="dex-card-img-container">
              <img src="<%= user_pokemon.pokemon.image_url %>" alt="<%= user_pokemon.pokemon.name %> image">
            </div>
            <div class="dex-card-info-container">
              <div class="dex-card-title">
                <h3><%= user_pokemon.pokemon.name.capitalize %></h3>
                <div class="dex-card-types">
                <% user_pokemon.pokemon.types.each do |type| %>
                  <div class="tag <%=type %>">
                    <%= type.capitalize %>
                  </div>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="big-card">
    <div class="big-card-header"></div>
    <div class="big-card-screen">
      <div class="big-card-screen-inner">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png" alt="Bulbasaur" class="pokemon-image">
        <h1 class="pokemon-name">Bulbasaur</h1>
      </div>
    </div>
    <div class="big-card-info">
      <div class="big-card-info-item">Type: Grass</div>
      <div class="big-card-info-item">Height: 0.7 m</div>
      <div class="big-card-info-item">Weight: 6.9 kg</div>
    </div>
  </div>
</div>
